
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color:  rgba(16, 16, 223, 0.668);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: blue;
    font-weight: 700;
    text-shadow: whitesmoke 1px 1px 2px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    text-align: center;
}
.page-header .breadcrumb-item a:hover {
    color: darkblue;

}
.page-header .breadcrumb-item.active {
    color: rgba(16, 16, 232, 0.984);

}
.page-header {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
    z-index: 1;
}
.page-header h1 {
    font-size: 40px;
    width: 75%;
    margin-bottom: 45px;
    margin-left: 105px;
    color: #333;
    font-weight: 900;
    text-shadow: whitesmoke 1px 1px 2px;
    background-color: whitesmoke;
    opacity: 0.7;
    padding: 2px 10px;
    border-radius: 20px;
    text-align: center;
}
.page-header h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #007bff;
    margin-top: 10px;
    border-radius: 2px;
}

.page-header h1 {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.page-header h1:hover {
    color: #0056b3;
}

.page-header h2{
    font-size: 55px;
    font-weight: 900;
    color: #333333;
    text-shadow: rgb(245, 245, 245) 1px 1px 2px;
    background-color: whitesmoke;
    opacity: 0.7;
    padding: 2px 4px;
    border-radius: 20px;
    text-align: center;
    margin-top: -10px;
    text-align:center;

}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    transition: color 0.3s ease, text-decoration 0.3s ease;
} 
.page-header .breadcrumb-item.active {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}


